*.elc
cache
archives
session.*
.trello
.local
elpa
quelpa
transient
url
.emacs.desktop
.emacs.desktop.lock
.session
eshell/
history
projectile-bookmarks.eld
/network-security.data
places
/request
tramp
eln-cache/
.org-id-locations
/elisp/ej-macs.el
/elisp/ej-macs.pdf
/elisp/ej-macs.tex
/elisp/ej-macs.bbl