*.elc
cache
archives
session.*
.cask
auto-save-list
games
tutorial
.trello
.local
elpa
quelpa
transient
url
.emacs.desktop
.emacs.desktop.lock
.session
eshell/
history
projectile-bookmarks.eld
/network-security.data
places
/request
tramp
eln-cache/
.org-id-locations
devdocs
triples.db